@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.example-tab-icon {
  margin-right: 8px;
}
.example-card {
  max-width: 400px;
  min-width: 400px;
  min-height: 200px;
}

.main-div{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-input{
  min-width: 360px;
}

.center-card {
  text-align: center;
}
